* {
	box-sizing: border-box;
}

#submit{
	margin-left: 28%;
    background-image: linear-gradient(120deg,#5a83e5 0%, #e56262 100%);
    padding: .5rem 1rem;
    border: none;
    color: white;
    border-radius: 2rem;
    width: 100%;
	transition: .4s;
}
.header {
	margin-left: 17%;
	font-size: 40px;
	color: #007bff;
}
.text_name {
	padding-bottom: 15px;
	margin-left: 25%;
}

#myCanvas1 {
	background: red;
	margin-left: 25%;
}

ul li input {
    border: none;
    background: transparent;
}

/* code 3D しかく */
.container-box {
	/* width: 400px;
	height: 400px; */
	margin: 50px auto;
	perspective: 1000px;
}

.cube {
	width: inherit;
	height: inherit;
	color: orange;
	position: relative;
	font: 80px impact;
	text-align: center;
	transform-style: preserve-3d;
	animation: rotate 15s linear infinite;
}

.cube .box {
	position: absolute;
	width: inherit;
	height: inherit;
	opacity: 0.8;
}

.font {
	transform: translateZ(200px);
	background-color: #1f122c;
}

.back {
	transform: rotateY(180deg) translateZ(200px);
	background-color: lightblue;
}

.left {
	transform: rotateY(-90deg) translateX(-200px);
	background-color: blue;
	transform-origin: left;
}

.right {
	transform: rotateY(90deg) translateX(200px);
	background-color: red;
	transform-origin: right;
}

.top {
	transform: rotateX(-90deg) translateY(-200px);
	background-color: yellow;
	transform-origin: top; 
}

.bottom {
	transform: rotateX(90deg) translateY(200px);
	background-color: green; 
	transform-origin: bottom;
}

/* 丸い奴がちかちかしている。 */
/* .center {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red;
	position: absolute;
	margin-top: 300px;
	margin-left: 100px;
	animation: nhapnhay 1s linear infinite;
}

 @keyframes nhapnhay {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
} */


/* グルグル回しておく */
/* @keyframes rotate {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
} */